*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom:2rem;
}

.allBeers, .randomBeers, .newBeer{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.allBeers p, .randomBeers p, .newBeer p{
  padding-left: 1.5rem;
}

/*******************************************/
.header{
  background-color:#3DC4FC;
  height: 3rem;
}

.header div{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.imgApiBeers img{
  width: 2.5rem;
}

.allApiBeers{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  

}

.eachApiBeers{
  display: flex;
  gap: 4rem;
  border-bottom: 1px solid gray;
  margin: 1rem
}

.textApiBeers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.tagline{
  color: gray;
}