*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom:2rem;
}

.allBeers, .randomBeers, .newBeer{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.allBeers p, .randomBeers p, .newBeer p{
  padding-left: 1.5rem;
}

/*******************************************/
.header{
  background-color:#3DC4FC;
  height: 3rem;
}

.header div{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.imgApiBeers img{
  width: 2.5rem;
}

.allApiBeers{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  

}

.eachApiBeers{
  display: flex;
  gap: 4rem;
  border-bottom: 1px solid gray;
  margin: 1rem
}

.eachApiBeers a{
  display: flex;
  text-decoration: none;
  color: black;
  gap: 2rem

}

.textApiBeers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.tagline{
  color: gray;
}

/******************SINGLE BEER DETAIL*************************/

.singleBeer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.singleBeer p{
  font-weight: 700;
  text-align: justify;
}

.singleBeerDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.singleBeer img {
  width: 5rem;
}

.attenuation, .brewed {
  display: flex;
  justify-content: space-between
}

.brewed h4, .contributor{
  color: gray;
}
.brewed p{
  font-weight: bold;
}

.attenuation  p{
  color: gray;
  font-size: 1.5rem;
}

/******************FORM*************************/

.newBeerForm{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

.newBeerForm input {
  border-radius: 20px;
  border-color: lightgrey;
  height: 2rem;
  padding-inline-start: 2rem;
  
}

.newBeerForm .descriptionInput {
  height: 10rem;
}

.formSections{
  display: flex;
  flex-direction: column;
}

.formSections label{
  font-weight: 700;
  font-size: 0.8rem;
}

.addNewButton{
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 25px;
  background-color: #3DC4FC;
  border: none;
  color: azure;
  font-weight: 700;
}